
<!-- GET Characters from back end and display in a dropdown -->
  <section>
    <select ng-model='character' ng-options='char as char.personalData.alias for char in characters'>
      <pre>{{char}}</pre>
    </select>
    <button class='btn btn-danger' ng-click='deleteCharacter()'>Delete Character</button>
    <button class='btn btn-info' ng-click='saveCharacter()'>Save Character</button>
    <p ng-class="httpSucess">{{httpMessage}}</p>
  </section>

  <!-- Priority Table -->
  <section>
    <h2 slide-toggle='#priorityTable'>Priority Table</h2>
    <div id='priorityTable' class='slideable'>
      <priority-table></priority-table>
    </div>
  </section>

<div class='container'>
  <!-- character creation forms -->
  <section class='col-xs-5'>
    <!-- <button ng-click='showValues()'>SHOW</button> -->
    <h2 ng-click='hideAllForms()'>Create Character</h2>

    <!-- Personal Data Form -->
    <div>
      <h4 slide-toggle='#dataForm'>Personal Data</h4>
      <div id='dataForm' class='slideable'>
        <personal-data-form></personal-data-form>
      </div>
    </div>

    <!-- Metatype Form -->
    <div>
      <h4 slide-toggle='#metatypeForm'>Metatype</h4>
      <div id='metatypeForm' class='slideable'>
        <metatype-form></metatype-form>
      </div>
    </div>

    <!-- Attributes Form -->
    <div>
      <h4 slide-toggle='#attributesForm'>Attributes</h4>
      <div id='attributesForm' class='slideable'>
        <attributes-form></attributes-form>
      </div>
    </div>

    <!-- Skills Form -->
    <div>
      <h4 slide-toggle='#skillsForm'>Active Skills</h4>
      <div id='skillsForm' class='slideable'>
        <skills-form></skills-form>
      </div>
    </div>

    <!-- Qualities Form -->
    <div>
      <h4 slide-toggle='#qualitiesForm'>Qualities</h4>
      <div id='qualitiesForm' class='slideable'>
        <qualities-form></qualities-form>
      </div>
    </div>

    <!-- Items Form -->
    <div>
      <h4 slide-toggle='#itemsForm'>Items</h4>
      <div id='itemsForm' class='slideable'>
        <items-form></items-form>
      </div>
    </div>

    <!-- Knowledge Form -->
    <div>
      <h4 slide-toggle='#knowledgeForm'>Knowledge Skills</h4>
      <div id='knowledgeForm' class='slideable'>
        <knowledge-form></knowledge-form>
      </div>
    </div>
  </section>

  <!-- current character sheet -->
  <section class='col-xs-5'>
    <h2>Current Character</h2>
    <div>
      <!-- Personal Data Display -->
      <div>
        <h4 slide-toggle='#dataDisplay'>Personal Data</h4>
        <div id='dataDisplay' class='slideable'>
          <personal-data-display></personal-data-display>
        </div>
      </div>

      <!-- Attributes Display -->
      <div>
        <h4 slide-toggle='#attributesDisplay'>Attributes</h4>
        <div id='attributesDisplay' class='slideable'>
          <attributes-display></attributes-display>
        </div>
      </div>

      <!-- Active Skills Display -->
      <div>
        <h4 slide-toggle='#skillsDisplay'>Active Skills</h4>
        <div id='skillsDisplay' class='slideable'>
          <skills-display></skills-display>
        </div>
      </div>

      <!-- Qualities Display -->
      <div>
        <h4 slide-toggle='#qualitiesDisplay'>Qualities</h4>
        <div id='qualitiesDisplay' class='slideable'>
          <qualities-display></qualities-display>
        </div>
      </div>

      <!-- Items Display -->
      <div>
        <h4 slide-toggle='#itemsDisplay'>Items</h4>
        <div id='itemsDisplay' class='slideable'>
          <items-display></items-display>
        </div>
      </div>

      <!-- Knowledge Skills Display -->
      <div>
        <h4 slide-toggle='#knowledgeDisplay'>Knowledge Skills</h4>
        <div id='knowledgeDisplay' class='slideable'>
          <knowledge-display></knowledge-display>
        </div>
      </div>

    </div>

  </section>
</div> <!-- container -->
