section {
  margin: 5px;
  padding: 5px;
}

ul {
  list-style-type: none;
}
hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}
.attr-input {
  max-width: 120px;
  margin: 2px;
}

.attr-input input {
  float: right;
  width: 40px;
}

.highlight {
  background-color: aqua;
}

.gridStyle {
    width: 600px;
    height: 200px;
}
