<div>
  <div class='col-xs-2'>
    <ul>
      <li>Body: {{character.attributes.body}}</li>
      <li>Strength: {{character.attributes.strength}}</li>
      <li>Agility: {{character.attributes.agility}}</li>
      <li>Reaction: {{character.attributes.reaction}}</li>
    </ul>
  </div>
  <div class='col-xs-2'>
    <ul>
      <li>Charisma: {{character.attributes.charisma}}</li>
      <li>Intuition: {{character.attributes.intuition}}</li>
      <li>Logic: {{character.attributes.logic}}</li>
      <li>Will: {{character.attributes.will}}</li>
    </ul>
  </div>
  <div class='col-xs-2'>
    <ul>
      <li>Magic: {{character.attributes.magic}}</li>
      <li>Resonance: {{character.attributes.resonance}}</li>
      <li>Edge: {{character.attributes.edge}}</li>
      <li>Initiative: {{character.attributes.initiative}}</li>
      <li>Astral Initiative: {{character.attributes.astralInitiative}}</li>
    </ul>
  </div>
  <div class='col-xs-12'>
    {{limits.attributes.spent}} out of {{limits.attributes.total}} points spent.<br>
    {{limits.attributes.special}} out of {{limits.attributes.specialMax}} special points spent.
  </div>
</div>
