<div class='container'>
  <div class='col-xs-3'>
    <ul>
      <li>Alias: {{character.personalData.alias}}</li>
      <li>Age: {{character.personalData.age}}</li>
      <li>Sex: {{character.personalData.sex}}</li>
      <li>Height: {{character.personalData.height}}</li>
      <li>Weight: {{character.personalData.weight}}</li>
      <li>Composure: {{character.personalData.composure}}</li>
      <li>Judge Intentions: {{character.personalData.judgeIntentions}}</li>
    </ul>
  </div>
  <div class='col-xs-2'>
    <ul>
      <li>Ethinicity: {{character.personalData.ethnicity}}</li>
      <li>Street Cred: {{character.personalData.streetCred}}</li>
      <li>Public Awareness: {{character.personalData.publicAwareness}}</li>
      <li>Notoriety: {{character.personalData.notoriety}}</li>
      <li>Metatype: {{character.personalData.metatype}}</li>
      <li>Memory: {{character.personalData.memory}}</li>
      <li>Walk Speed: {{character.personalData.walkSpeed}}</li>
      <li>Run Speed: {{character.personalData.runSpeed}}</li>
    </ul>
  </div>
</div>
