<div>
  <div class='col-xs-3'>
    <ul>
      <li>Alias: {{character.personalData.alias}}</li>
      <li>Age: {{character.personalData.age}}</li>
      <li>Sex: {{character.personalData.sex}}</li>
      <li>Height: {{character.personalData.height}}</li>
      <li>Weight: {{character.personalData.weight}}</li>
    </ul>
  </div>
  <div class='col-xs-3'>
    <ul>
      <li>Ethinicity: {{character.personalData.ethnicity}}</li>
      <li>Street Cred: {{character.personalData.streetCred}}</li>
      <li>Notoriety: {{character.personalData.notoriety}}</li>
      <li>Public Awareness: {{character.personalData.publicAwareness}}</li>
      <li>Metatype: {{character.personalData.metatype}}</li>
    </ul>
  </div>
</div>
