<div class='container'>
  <button class='btn btn-default' ng-click='attributes=!attributes'>Attributes</button>
  <button class='btn btn-default' ng-click='skills=!skills'>Active Skills</button>
  <button class='btn btn-default' ng-click='qualities=!qualities'>Qualities</button>
  <button class='btn btn-default' ng-click='items=!items'>Items</button>
  <button class='btn btn-default' ng-click='knowledge=!knowledge'>Knowledge Skills</button>

  <form class='new-post-form' ng-show='attributes'>
    <div class="form-group attr-input">
      <label for="body">Body</label>
      <input type="number" id="body">
    </div>
    <div class="form-group attr-input">
      <label for="strength">Strength</label>
      <input type="number" id="strength">
    </div>
    <div class="form-group attr-input">
      <label for="agility">Agility</label>
      <input type="number" id="agility">
    </div>
    <div class="form-group attr-input">
      <label for="reaction">Reaction</label>
      <input type="number" id="reaction">
    </div>
    <div class="form-group attr-input">
      <label for="charisma">Charisma</label>
      <input type="number" id="charisma">
    </div>
    <div class="form-group attr-input">
      <label for="intuition">Intuition</label>
      <input type="number" id="intuition">
    </div>
    <div class="form-group attr-input">
      <label for="logic">Logic</label>
      <input type="number" id="logic">
    </div>
    <div class="form-group attr-input">
      <label for="will">Will</label>
      <input type="number" id="will">
    </div>
    <div class="form-group attr-input">
      <label for="magic">Magic</label>
      <input type="number" id="magic">
    </div>
    <div class="form-group attr-input">
      <label for="resonance">Resonance</label>
      <input type="number" id="resonance">
    </div>
    <div class="form-group attr-input">
      <label for="edge">Edge</label>
      <input type="number" id="edge">
    </div>
  </form>
</div> <!-- container -->
