<div>
  <!-- Personal Data Display -->
  <section class='container'>
    <h4>Personal Data</h4>
    <div class='col-xs-3'>
      <ul>
        <li>Alias: {{character.personalData.alias}}</li>
        <li>Age: {{character.personalData.age}}</li>
        <li>Sex: {{character.personalData.sex}}</li>
        <li>Height: {{character.personalData.height}}</li>
        <li>Weight: {{character.personalData.weight}}</li>
      </ul>
    </div>
    <div class='col-xs-3'>
      <ul>
        <li>Ethinicity: {{character.personalData.ethnicity}}</li>
        <li>Street Cred: {{character.personalData.streetCred}}</li>
        <li>Notoriety: {{character.personalData.notoriety}}</li>
        <li>Public Awareness: {{character.personalData.publicAwareness}}</li>
      </ul>
    </div>
  </section>

  <!-- Attributes Display -->
  <section class='container'>
    <h4>Attributes</h4>
    <div class='col-xs-2'>
      <ul>
        <li>Body: {{character.attributes.body}}</li>
        <li>Strength: {{character.attributes.strength}}</li>
        <li>Agility: {{character.attributes.agility}}</li>
        <li>Reaction: {{character.attributes.reaction}}</li>
      </ul>
    </div>
    <div class='col-xs-2'>
      <ul>
        <li>Charisma: {{character.attributes.charisma}}</li>
        <li>Intuition: {{character.attributes.intuition}}</li>
        <li>Logic: {{character.attributes.logic}}</li>
        <li>Will: {{character.attributes.will}}</li>
      </ul>
    </div>
    <div class='col-xs-2'>
      <ul>
        <li>Magic: {{character.attributes.magic}}</li>
        <li>Resonance: {{character.attributes.resonance}}</li>
        <li>Edge: {{character.attributes.edge}}</li>
      </ul>
    </div>
  </section>

  <!-- Active Skills Display -->
  <section>
    <h4>Active Skills</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Skills</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody ng-repeat='skill in character.activeSkills'>
        <tr>
          <td>{{skill.skill}}</td>
          <td>{{skill.rank}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Qualities Display -->
  <section>
    <h4>Qualities</h4>
    <hr>
    <span ng-repeat='quality in character.qualities'>
      {{quality.quality}}&emsp;&emsp;
    </span>
  </section>

  <!-- Items Display -->
  <section>
    <h4>Items</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody ng-repeat='item in character.items'>
        <tr>
          <td>{{item.item}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Knowledge Skills Display -->
  <section>
    <h4>Knowledge Skills</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Knowledge</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody ng-repeat='knowledge in character.knowledge'>
        <tr>
          <td>{{knowledge.skill}}</td>
          <td>{{knowledge.rank}}</td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
