<form>
  <div class="form-group attr-input">
    <label for="body">Body</label>
    <input type="number" id="body" ng-model='character.attributes.body'>
  </div>
  <div class="form-group attr-input">
    <label for="strength">Strength</label>
    <input type="number" id="strength" ng-model='character.attributes.strength'>
  </div>
  <div class="form-group attr-input">
    <label for="agility">Agility</label>
    <input type="number" id="agility" ng-model='character.attributes.agility'>
  </div>
  <div class="form-group attr-input">
    <label for="reaction">Reaction</label>
    <input type="number" id="reaction" ng-model='character.attributes.reaction'>
  </div>
  <div class="form-group attr-input">
    <label for="charisma">Charisma</label>
    <input type="number" id="charisma" ng-model='character.attributes.charisma'>
  </div>
  <div class="form-group attr-input">
    <label for="intuition">Intuition</label>
    <input type="number" id="intuition" ng-model='character.attributes.intuition'>
  </div>
  <div class="form-group attr-input">
    <label for="logic">Logic</label>
    <input type="number" id="logic" ng-model='character.attributes.logic'>
  </div>
  <div class="form-group attr-input">
    <label for="will">Will</label>
    <input type="number" id="will" ng-model='character.attributes.will'>
  </div>
  <div class="form-group attr-input">
    <label for="magic">Magic</label>
    <input type="number" id="magic" ng-model='character.attributes.magic'>
  </div>
  <div class="form-group attr-input">
    <label for="resonance">Resonance</label>
    <input type="number" id="resonance" ng-model='character.attributes.resonance'>
  </div>
  <div class="form-group attr-input">
    <label for="edge">Edge</label>
    <input type="number" id="edge" ng-model='character.attributes.edge'>
  </div>
</form>
